# Data Extraction & Database Drivers
python-dotenv>=1.0.0
SQLAlchemy>=2.0.0
PyMySQL>=1.1.0
psycopg2-binary>=2.9.9

# Data Processing & Storage (OLAP)
pandas>=2.0.0
pyarrow>=14.0.0
duckdb>=0.9.0

# Data Transformation & Testing
dbt-core>=1.7.0
dbt-duckdb>=1.7.0

# Telemetry Push & HTTP Clients
requests>=2.31.0
urllib3>=2.0.0
